/*Use '#' before id name for stylizing*/
#title
{   /*'border' property has values: border width, border type, border color*/
    border: 8px solid gray;
}
/*Use '.' before class name for stylizing*/
.topic
{
    border: 2px solid red;
}
/*If we dont mention border color for 'topic last' class, then 
the class will have style same as 'topic' class*/
/*Since, 'topic last' has more priority. So, it's effects overwrites effects of 'topic' class*/
.topic.last
{
    border: 2px solid blue;
}