body
{
	margin: 0;
}

div															/* Every div will have this property*/
{
	border: 1px solid black;
	margin: 15px 5px;
	padding: 5px;
}

#px
{
	width: 30px;											/* Width of the div denoted by "px" id is 30px*/
}

#em
{
	width: 30em;											/* Width of the div denoted by "em" id is relative to font size of div element*/
}

#rem
{
	width: 30rem;											/* Width of the div denoted by "rem" id is relative to the font size of default html tag */
}

#v
{
	width: 30vw;											/* Width of the div is 30% of the viewport width*/
	/* width: 30vh;											   Width of the div is 30% of the viewport height*/ 
	/* width: 30vmax;										   Width of the div is 30% of the viewport currently maximum dimension*/ 
	/* width: 30vmin;										   Width of the div is 30% of the viewport currently minimum dimension*/ 
}

#percent
{
	width: 30%;												/* Width of the div is 30% of the mean viewport size*/
}
