#header1:hover
{
	color:red;										/*Apply color when hovered*/
}
#press:active
{
	color:red;										/*Apply color when pressed*/
}
input:focus
{
	background-color:greenyellow;										/*Apply color when focused*/
}